@model UpdatePasswordModel
<div class="modal-content">
    <link rel="stylesheet" type="text/css" href="~/css/main_page.css">
    <link rel="stylesheet" type="text/css" href="~/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/admin/cadri.css?version=2">
    <link rel="stylesheet" type="text/css" href="~/css/select.css">
    <link rel="stylesheet" type="text/css" href="~/css/admin/addEdit.css?version=0.3">
    <link rel="stylesheet" type="text/css" href="~/css/custom_2.css" />
    <style>
        .modal-windows {
            top: 0;
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            display: block;
            z-index: 4;
            padding: 70px 15px 15px;
            overflow-y: auto;
            backdrop-filter: blur(5px);
            background-color: hsla(0, 0%, 100%, .9);
            z-index: 2;
        }
        .obratnii-zvonok {
            margin: 0 auto;
            max-width: 380px;
            position: relative;
            width: 100%;
            z-index: 4;
        }
        .labelForm{
            color: rgb(103, 103, 103);
            font-weight: bold;
        }
        .title{
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
    </style>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <div class="modal-windows">
        <div class="obratnii-zvonok">
            <div class="form-edit fformms" style="padding: 30px; background-color: #fff; border-radius: 5px; box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 12%); color: #696969; ">
                <div class="title">Обновление пароля</div>
                <form asp-action="UpdatePasswordPost" asp-controller="Home" method="post" class="callback-from" enctype="multipart/form-data">
                    <div>
                        <div class="form-zap">
                            <label class="labelForm">Новый пароль:</label>
                            <input asp-for="newPassword" type="password" class="search-field input_dan search" style="width: 100%; padding: 10px; border-radius: 8px;" placeholder="Новый пароль"></input>
                            <span asp-validation-for="@Model.newPassword" style="color: red; margin-bottom: 15px;"></span>
                        </div>
                        <div class="form-zap">
                            <label class="labelForm">Подтверждение нового пароля:</label>
                            <input asp-for="compareNewPassword" class="search-field input_dan search" type="password" placeholder="Подтверждение нового пароля" style="width: 100%; padding: 10px; border-radius: 8px;"></input>
                            <span asp-validation-for="compareNewPassword" style="color: red;"></span>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 10px;">
                        <input type="submit" class="submit_btn btn btn_save" style="cursor: pointer; color: white; margin: 0; margin-bottom: 15px;" href="#" value="Сохранить" />
                    </div>
                </form>
                <div style="text-align: center;">
                    <button class="submit_btn btn btn_save" style="background-color: #c4c4c4; margin: 0; color: Black; cursor: pointer;" onclick='$(".modal-content").remove();'>Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>